 @import url(https://fonts.googleapis.com/css?family=Anaheim);

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.triangle {
    fill: black;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    font-size: 18px;
}

.triangle:hover {
    transition: 0.2s ease-in;
    fill: rgb(61, 105, 105);
}

a {
    text-decoration: none;
    color: white;
}

.header h1 {
    padding-top: 5em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.dn {
    display: none;
}

.dl {
    display: inline-block;
}

.dni {
    display: none!important;
}

.dli {
    display: inline-block!important;
}

.map {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url("../images/planet3.png");
}

.center {
    background-position: center;
}

.left {
    background-position: left;
}

.right {
    background-position: right;
}

/* PINS */

.pin {
    cursor: pointer;
    position: absolute;
    /* background-color: #ff3535; */
    width: 5em;
    height: 3em;
}

#play-video {
    width: 3em;
    height: 3em;
}

.pin-amazon {
    bottom: 12em;
    left: 16em;
    height: 5em;
}

.pin-arctic {
    top: 1em;
    left: 50vw;
}

.pin-antarctica {
    bottom: 4em;
    left: 50vw;
}

.pin-japan {
    top: 13em;
    right: 5em;
    height: 5em;
}

.pin-china {
    top: 16em;
    right: 12em;
    height: 5em;
}

.pin-taiwan {
    top: 20em;
    right: 8em;
}

#video-yt {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-body {
    padding: 0!important;
}

.modal-content {
    height: 700px;
    max-height: 100%;
}

.close-btn {
    float: right;
    padding-right: 8vw;
    font-size: 1.5rem;
    color: white;
}
/* ///// */

.map-left {
    position: absolute;
    top: 50vh;
    left: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 21.7px 12.5px 0;
    border-color: transparent #000 transparent transparent;
}

.map-right {
    position: absolute;
    top: 50vh;
    right: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 21.7px;
    border-color: transparent transparent transparent #000000;
}

.video-wrapper {
    padding: 1em 0 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.video-text {
    margin: 1em 0 2em;
    padding: 0 2em;
    text-align: center;
}

.video-text button, .GPContent button {
    padding: 0.5rem 1rem;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #36bbae;
}

.video-text button:hover, .GPContent button:hover {
    background: white;
    border: 1px solid #36bbae;
    color: #36bbae;
    transition: ease-in 0.3s;
}

.GPContent {
    margin: 0 0 2em 0;
    padding: 0 2em;
    text-align: center;
}

.GPContent h3 {
    color: #36bbae;
    text-transform: uppercase;
}

.GPFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.GPFlex div {
    width: 200px;
    padding: 0.5em;
}

.GPFlex div h1 {
    color: #36bbae;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer {
    width: 100vw;
    background-color: #36bbae;
    color: white;
}

.footer-wrapper {
    width: 80%;
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-wrapper h3 {
    text-transform: uppercase;
}

.footer-icons {
    display: inline-block;
    margin: auto 0;
    text-align: center;
}

.footer-icons i {
    padding: 1em 2em 1em 0;
}


/*Burger Menu*/
.menu-container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #36bbae;
    opacity: 0.6;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* -webkit-transition: all .3s;
  transition: all .3s; */
}

#hamburger {
  display: none;
}

label {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  tap-highlight-color: transparent;
}
label:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 65%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#hamburger:checked ~ .menu-container {
  width: 30vw;
  height: 100vh;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#hamburger:checked ~ .menu-container .menu {
  width: 250vh;
  height: 250vh;
  -webkit-transition: all .6s;
  transition: all 0.6s;
  z-index: 9;
}

.menu-container .links {
  position: absolute;
  left: 15vw;
  top: 30vh;
  z-index: 12;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;

}
.menu-container .links a {
  display: block;
  color: white;
  font-size: 1rem;
font-weight: 11px;
  text-decoration: none;
  margin: 20px;


}


#hamburger:checked ~ .content {
  padding-left: 15vw;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}


/*carousel*/

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    margin: 4% auto;
    width: 330px;
    height: 170px;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    box-shadow: 3px 2px 5px #525252;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
     width: 186px;
    height: 116px;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

/*Our Team*/

.team h1,
.about h1 {
    padding-bottom: 1em;
    padding-top: 2.5em;
    font-size: 2em;
    line-height: 1.2;
    margin: auto;
    text-align: center;
    letter-spacing: 8px;
}

.team > .team-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    margin-bottom: 100px;
}

.about-container {
    padding: 3em;
    margin: 0 12em;
    background-color: #e2e2e25e;
}

.about-container p {
    text-align: center;
    font-style: italic;
}

.team .member-card {
    margin: 2%;
}

.team .member-box {
    width: 43vw;
    height: 300px;
    background: #e2e2e25e;
    z-index: 1;
    text-align: center;

}

.team .member-box h3 {
    padding-top: 50px;

}

.team .member-box span p {
    color: #60a1d6;
    font-weight: 200;

}

.team .member-img {
    position: relative;
    z-index: 100;
    margin-bottom: -50px;
   margin-left: auto;
    margin-right: auto;
    height: 34vw;
    width: 34vw;
    border-radius: 50%;
    border: 12px white solid;

}

.team .nitzan {
    background-image: url("../images/nitzan.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.team .daniel {
    background-image: url("../images/Daniel%20Momtahanny.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.team .gintare {
    background-image: url("../images/Gintar%C4%97%20Bespalovait%C4%97.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team .alex {
    background-image: url("../images/Alexander%20Nielsen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team .suzana {
    background-image: url("../images/Zsuzana%20Vargyas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*breaking points*/

@media only screen and (min-width: 375px) and (max-height: 812px){
    .pin-china {
        top: 20em;
        right: 13em;
    }

    .pin-japan {
        top: 16em;
    }

    .pin-amazon {
        bottom: 15em;
        left: 17em;
        height: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        overflow: visible;
        width: 450px;
        height: 200px;
    }

/*
    .header h1 {
        padding-top: 1em;
    }
*/
    
    iframe {
        width: 50vw;
        height: 30vw;
    }

    .video-text{
        padding: 0.5em 5em 2em;
    }

    .GPContent {
        margin: -5em 0 0;
        padding: 0 5em 2em;
    }

    .team > .team-container {
        flex-direction: row;
    }

    .team .member-box {
    width: 20vw;
    }

    .team .member-img {
        height: 15vw;
        width: 15vw;

    }

    .pin-amazon {
        bottom: 15em;
        left: 22em;
    }

    .pin-amazon2 {
        display: inline-block;
        bottom: 15em;
        left: 10em;
        height: 5em;
    }

    .pin-china2 {
        display: inline-block;
        top: 20em;
        height: 5em;
        right: 2em;
    }

    .pin-japan {
        top: 17em;
        right: 5em;
    }

    .pin-china {
        top: 22em;
        right: 15em;
    }

    .pin-taiwan {
        top: 25em;
        right: 9em;
    }
}

@media only screen and (min-width: 992px) {
    .video-text{
        padding: 0.5em 20em;
    }

    .map-left, .map-right {
        display: none;
    }
    
    .map {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .menu-container .links {
        left: 5vw;
        top: 25vh;
    }

    #hamburger:checked ~ .menu-container .menu {
         width: 40vh;
         height: 650vh;

    }

    .pin-amazon2 {
        display: none!important;
    }

    .pin-china2 {
        display: none!important;
    }

    .pin-amazon {
        display: inline-block!important;
        bottom: 16em;
        left: 17em;
    }

    .pin-japan {
        display: inline-block!important;
        top: 18em;
        right: 4em;
    }

    .pin-china {
        display: inline-block!important;

    }

    .pin-arctic, .pin-antarctica, .pin-china, .pin-taiwan {
        display: inline-block!important;
    }

}

@media only screen and (min-width: 1200px) {
    .pin-amazon {
        bottom: 18em;
        left: 22em;
    }

    .pin-japan {
        top: 18em;
        right: 6em;
    }

    .pin-china {
        top: 23em;
        right: 15em;
    }

    .pin-taiwan {
        top: 28em;
        right: 10em;
    }
}

@media only screen and (min-width: 1440px) {
    .pin-amazon {
        bottom: 15em;
        left: 32em;
    }

    .pin-japan {
        top: 17em;
        right: 20em;
    }

    .pin-china {
        top: 21em;
        right: 26em;
    }

    .pin-taiwan {
        top: 24em;
        right: 21em;
    }
}
