body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.video-wrapper {
    padding: 1em 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.video-text {
    margin: 2em 0;
    padding: 0 2em;
    text-align: center;
}

.video-text button {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #36bbae;
}

.GPLocations {
    margin: 2em 0;
    padding: 0 2em;
}

.GPLocations h3 {
    color: #36bbae;
    text-transform: uppercase;
}

.footer {
    width: 100vw;
    background-color: #36bbae;
    color: white;
}

.footer-wrapper {
    width: 80%;
    padding: 1em 2em;
}

.footer-wrapper h3 {
    text-transform: uppercase;
}

.footer-icons {
    display: inline-block;
}

.footer-icons i {
    padding: 1em 2em 1em 0;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
    z-index: 2;
    position: relative;

}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.container{
    height: 70px;
    width: 70px;
    background-color: transparent;
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 3;
}
.menu {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:0;
    top:0;
    z-index: 99;
}


.expand {

    animation: expandMovement 0.4s ease;
    width:20vw;
    height: 20vh;
    border-radius:0;
    background-color: white;
    left: 0;
    top: 0;
    margin: 0;
}

@keyframes expandMovement {
    from {

    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;

    }
    to{
    width:20vw;
    height: 20vh;
    border-radius:0;
    background-color: white;
    left: 0;
    top: 0;
    margin: 0;
    }
}

.retract {
    animation: retractMovement 0.4s ease;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
}

@keyframes retractMovement {
    from {
    width:20vw;
    height: 20vh;
    border-radius:0;
    background-color: white;
    left: 0;
    top: 0;
    margin: 0;

    }
    to {
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    }
}



/*carousel 2nd one*/
HTML  CSS  JS Result
EDIT ON
 @import url(https://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
     width: 186px;
    height: 116px;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

