body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.header h1 {
    padding-top: 5em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.map {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url("../images/planet.jpg");
}

.center {
    background-position: center;
}

.left {
    background-position: left;
}

.right {
    background-position: right;
}

.map-left {
    position: absolute;
    top: 50vh;
    left: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 21.7px 12.5px 0;
    border-color: transparent #000 transparent transparent;
}

.map-right {
    position: absolute;
    top: 50vh;
    right: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 21.7px;
    border-color: transparent transparent transparent #000000;
}

.video-wrapper {
    padding: 1em 0 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.video-text {
    margin: 1em 0 2em;
    padding: 0 2em;
    text-align: center;
}

.video-text button, .GPContent button {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #36bbae;
}

.GPContent {
    margin: 0 0 2em 0;
    padding: 0 2em;
    text-align: center;
}

.GPContent h3 {
    color: #36bbae;
    text-transform: uppercase;
}

.GPFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.GPFlex div {
    width: 200px;
    padding: 0.5em;
}

.GPFlex div h1 {
    color: #36bbae;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer {
    width: 100vw;
    background-color: #36bbae;
    color: white;
}

.footer-wrapper {
    width: 80%;
    padding: 1em 2em;
}

.footer-wrapper h3 {
    text-transform: uppercase;
}

.footer-icons {
    display: inline-block;
}

.footer-icons i {
    padding: 1em 2em 1em 0;
}


/*Burger Menu*/
.menu-container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.menu {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #36bbae;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#hamburger {
  display: none;
}

label {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  tap-highlight-color: transparent;
}
label:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 65%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#hamburger:checked ~ .menu-container {
  width: 30vw;
  height: 100vh;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#hamburger:checked ~ .menu-container .menu {
  width: 250vh;
  height: 250vh;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 9;
}

.menu-container .links {
  position: absolute;
  left: 15vw;
  top: 30vh;
  z-index: 12;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.menu-container .links a {
  display: block;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem;
}


#hamburger:checked ~ .content {
  padding-left: 15vw;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}


/*carousel*/
HTML  CSS  JS Result
EDIT ON
 @import url(https://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    margin: 4% auto;
    width: 330px;
    height: 170px;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    box-shadow: 3px 2px 5px #525252;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
     width: 186px;
    height: 116px;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .container {
        overflow: visible;
        width: 450px;
        height: 200px;
    }

    .header h1 {
        padding-top: 1em;
    }
    
    iframe {
        width: 50vw;
        height: 30vw;
    }

    .video-text{
        padding: 0.5em 5em 2em;
    }

    .GPContent {
        margin: -5em 0 0;
        padding: 0 5em 2em;
    }
}

@media only screen and (min-width: 992px) {
    .video-text{
        padding: 0.5em 20em;
    }

    .map-left, .map-right {
        display: none;
    }
    
    .map {
        background-size: contain;
        background-repeat: no-repeat;
    }
}